@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.nav {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main {
  background: #d9e6fa;
  height: 91.5vh;
}
.upload-container {
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px #0000002e;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 50px 150px;
  border: 5px dotted #2196f3;
  transition: border-width 0.6s linear;
}
.upload-container:hover {
  margin-top: -1px;
  border-width: 10px;
}
.drop-zone {
  width: 500px;
  min-height: 200px;
  border: 2px dashed var(--border-color);
  margin: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s ease;
}
.icon-container {
  width: 100px;
  height: 100px;
  left: 25%;
  position: absolute;
  border-radius: 10px;
  padding: 15px;
}
.arrow-container {
  position: absolute;
  left: 38%;
}
.audio-container {
  position: absolute;
  left: 48%;
}
.arrow,
.file-audio {
  color: #2196f3;
}
.head-text {
  margin-bottom: 25px;
}
.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.drop {
  height: 150px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.custom-file-input {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  background: #2196f3;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.video-icon {
  color: #2196f3;
}
/* Animation */
#load {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 75%;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  background: #000;
}
svg {
  position: absolute;
  width: 400px;
  fill: none;
}

svg path {
  d: path('M0,25 C150,110 150,-60 300,25');
  stroke: #2196f3;
  stroke-width: 50;
  stroke-linecap: round;
  transform: translate(50px, 50%);
  animation: animate 2s ease-in-out infinite;
}
@keyframes animate {
  0% {
    stroke: #229afc;
    d: path('M0,25 C150,110 150,-60 300,25');
  }
  50% {
    stroke: #aad9ff;
    d: path('M0,25 C160,-50 140,110 300,25');
  }
}
/* Loader */
.spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #ff00cc 0%, #333399 100%);
  animation: spin 0.5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*Simulate page content*/
.main-content {
  width: 100%;
  height: 100vh;
  background: url('https://source.unsplash.com/random/4000x4000') center
    no-repeat;
  background-size: cover;
}
